.title {
  display: flex;
  justify-content: space-around;
}

.rowSelect {
  display: flex;
  justify-content: center;

}

.p {
  margin-bottom: 0;
  margin-top: 4px;
  margin-right: 5px;
}

nz-table {
  margin-top: 10px;
}

.stt {
  width: 7%;
}

.tiLe {
  width: 20%
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px;
}
