<div>
  <div class="btnAdd">
    <div class="search">
      <div class="searchInput">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="search" placeholder="Tìm kiếm theo tên" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search"
            (click)="searchNv(false)"></i>
        </ng-template>
      </div>
      <button (click)="searchNv(true)" nz-button nzType="primary" nzShape="circle"><i nz-icon
          nzType="search"></i></button>
    </div>
    <button nz-button (click)="showModal()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Lập thẻ độc giả
    </button>
  </div>
  <nz-table #editRowTable nzBordered [nzShowPagination]="false" [nzData]="listDocGia" nzTableLayout="fixed">
    <thead>
      <tr>
        <th class="stt">STT</th>
        <th>Họ và tên</th>
        <th>Loại độc giả</th>
        <th>Ngày lập thẻ</th>
        <th>Tổng nợ</th>
        <th>Người lập</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data; index as i">
        <ng-container>
          <td>{{i+1}}</td>
          <td>{{ data.hoTen }}</td>
          <td>{{ data.loai }}</td>
          <td>{{ data.ngayLap | date:'dd/MM/yyyy'}}</td>
          <td>{{ data.tongNo}}</td>
          <td>{{ data.tenNhanVienLap }}</td>
          <td>
            <a (click)="showInfoDocGia(data)">Chi Tiết</a>
            <a (click)="startEdit(data)" class="edit">Sửa</a>
            <a *ngIf="currentUser?.nhanVienId != data.id" class="btnDel" nz-popconfirm
              nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="deleteDocGia(data.id)">Xóa</a>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
  <div class="paging">
    <h3>Tổng: {{totalDG || 0 | number}}</h3>
    <nz-pagination (nzPageIndexChange)="getByPaging($event)" [nzPageIndex]="pageNum" [nzTotal]="totalDG"
      [nzPageSize]="pageSize"></nz-pagination>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Lập thẻ độc giả" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <div *nzModalContent>
    <form nz-form [formGroup]="createForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Họ và tên</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập họ tên">
          <input nz-input formControlName="hoTen" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Loại độc giả</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập loại độc giả">
          <nz-select formControlName="loai" nzAllowClear nzPlaceHolder="Chọn loại độc giả" name="required" required>
            <nz-option *ngFor="let b of arrLoai" [nzValue]="b" [nzLabel]="b"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ngày sinh</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày sinh">
          <nz-date-picker class="datePickerForm" nzPlaceHolder="Nhập ngày sinh" formControlName="ngaySinh" name="required" required (ngModelChange)="onChangeDate($event)"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Địa chỉ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập địa chỉ">
          <input nz-input formControlName="diaChi" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập email">
          <input nz-input formControlName="email" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ngày lập thẻ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày lập thẻ">
          <nz-date-picker class="datePickerForm" nzPlaceHolder="Nhập ngày lập thẻ" formControlName="ngayLap" name="required" required></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Người lập</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập người lập">
          <nz-select formControlName="nhanVienId" nzAllowClear nzPlaceHolder="Chọn nhân viên" name="required" required (ngModelChange)="onChangeNhanVien($event)">
            <nz-option *ngFor="let item of filteredNhanVien" [nzValue]="item.id" [nzLabel]="item.hoTen"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelModalCreate()">Hủy</button>
    <button *ngIf="isCreate" nz-button nzType="primary" (click)="handleOk()">Thêm mới</button>
    <button *ngIf="isUpdate" nz-button nzType="primary" (click)="saveEdit()">Lưu</button>
  </div>
</nz-modal>
<nz-modal
      [(nzVisible)]="isShowInfoDocGia"
      nzTitle="Thẻ Độc Giả"
      (nzOnCancel)="handleCancelInfo()"
      [nzOkLoading]="isOkLoading"
      [nzFooter] = null
      nzWidth= 800px
    >
    <div *nzModalContent class="infoSach">
      <div class="col">
        <div class="row"><h4>Họ và tên: </h4><p>{{infoDocGiaSimple.hoTen}}</p></div>
        <div class="row"><h4>Địa chỉ: </h4><p>{{infoDocGiaSimple.diaChi}}</p></div>
        <div class="row"><h4>Người lập: </h4><p>{{infoDocGiaSimple.tenNhanVienLap}}</p></div>
      </div>
      <div class="col">
        <div class="row"><h4>Loại độc giả: </h4><p>{{infoDocGiaSimple.loai}}</p></div>
        <div class="row"><h4>Email:  </h4><p>{{infoDocGiaSimple.email}}</p></div>
      </div>
      <div class="col">
        <div class="row"><h4>Ngày sinh: </h4><p>{{infoDocGiaSimple.ngaySinh| date: 'dd/MM/yyyy'}}</p></div>
        <div class="row"><h4>Ngày lập thẻ: </h4><p>{{infoDocGiaSimple.ngayLap | date: 'dd/MM/yyyy'}}</p></div>
      </div>
    </div>
</nz-modal>
