<div>
  <div class="btnAdd">
    <div class="search">
      <div class="searchInput">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="search" placeholder="Tìm kiếm theo tên" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="search"
            (click)="searchNv(false)"
          ></i>
        </ng-template>
      </div>
      <button (click)="searchNv(true)" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>
    <button nz-button (click)="showModal()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Tiếp nhận nhân viên
    </button>
  </div>
  <nz-table #editRowTable nzBordered [nzShowPagination]="false" [nzData]="listNhanVien" nzTableLayout="fixed">
    <thead>
      <tr>
        <th class="stt">STT</th>
        <th>Tên</th>
        <th>Bằng cấp</th>
        <th>Bộ phận</th>
        <th>Chức vụ</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data; index as i">
        <ng-container>
          <td>{{i+1}}</td>
          <td>{{ data.hoTen }}</td>
          <td>{{ data.bangCap }}</td>
          <td>{{ data.boPhan }}</td>
          <td>{{ data.chucVu }}</td>
          <td>
            <a (click)="showInfoSach(data)">Chi Tiết</a>
            <a (click)="startEdit(data)" style="margin-left: 5px;">Sửa</a>
            <a *ngIf="currentUser?.nhanVienId != data.id" class="btnDel" nz-popconfirm nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="deleteNhanVien(data.id)">Xóa</a>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
  <div class="paging">
    <h3>Tổng: {{totalNv}}</h3>
    <nz-pagination (nzPageIndexChange)="getByPaging($event)" [nzPageIndex]="pageNum" [nzTotal]="totalNv" [nzPageSize]="pageSize"></nz-pagination>
  </div>
</div>
<nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Tiếp nhận nhân viên"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
    <div *nzModalContent>
      <form nz-form [formGroup]="createForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Họ tên</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập họ tên">
            <input nz-input formControlName="hoTen" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Địa chỉ</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập địa chỉ">
            <input nz-input formControlName="diaChi" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Ngày sinh</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày sinh">
            <nz-date-picker class="datePickerForm" nzPlaceHolder="Nhập ngày sinh" formControlName="ngaySinh" name="required" required ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Sđt</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập số điện thoại">
            <input nz-input formControlName="sdt" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Bằng cấp</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập bằng cấp">
            <nz-select formControlName="bangCap"  nzAllowClear nzPlaceHolder="Chọn bằng cấp" name="required" required>
              <nz-option *ngFor="let b of arrBangCap" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Bộ phận</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập bộ phận">
            <nz-select formControlName="boPhan"  nzAllowClear nzPlaceHolder="Chọn bộ phận" name="required" required>
              <nz-option *ngFor="let b of arrBoPhan" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Chức vụ</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập chức vụ">
            <nz-select formControlName="chucVu"  nzAllowClear nzPlaceHolder="Chọn chức vụ" name="required" required>
              <nz-option *ngFor="let b of arrChucVu" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelModalCreate()">Hủy</button>
      <button *ngIf="isCreate" nz-button nzType="primary" (click)="handleOk()">Thêm mới</button>
      <button *ngIf="isUpdate" nz-button nzType="primary" (click)="saveEdit()">Lưu</button>
    </div>
</nz-modal>
<nz-modal
      [(nzVisible)]="isShowInfoNhanVien"
      nzTitle="Hồ Sơ Nhân Viên"
      (nzOnCancel)="handleCancelInfo()"
      [nzOkLoading]="isOkLoading"
      [nzFooter] = null
      nzWidth= 800px
    >
    <div *nzModalContent class="infoSach">
      <div class="col">
        <div class="row"><h4>Họ Và Tên: </h4><p>{{infoNhanVienSimple.hoTen}}</p></div>
        <div class="row"><h4>Ngày Sinh: </h4><p>{{infoNhanVienSimple.ngaySinh | date: 'dd/MM/yyyy'}}</p></div>
        <div class="row"><h4>Bằng Cấp: </h4><p>{{infoNhanVienSimple.bangCap}}</p></div>
        <div class="row"><h4>Chức Vụ: </h4><p>{{infoNhanVienSimple.chucVu}}</p></div>

      </div>
      <div class="col">
        <div class="row"><h4>Địa Chỉ: </h4><p>{{infoNhanVienSimple.diaChi}}</p></div>
        <div class="row"><h4>Điện Thoại: </h4><p>{{infoNhanVienSimple.sdt}}</p></div>
        <div class="row"><h4>Bộ Phận: </h4><p>{{infoNhanVienSimple.boPhan}}</p></div>
      </div>

    </div>
</nz-modal>
